body {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}


.Bitacora {
    background-color: red;
    width: 30%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

header {
    background-color: rgb(209, 175, 131);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    width: 70%;
    height: 25vh;
    gap: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}


main {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;

}
   
h1 {
 
 text-align: center;
 justify-content: center;
 align-items: center;

      
   
}

.listas {

    background-color: brown;
    width: 100%;
    height: 15%;
}

.tarjeta{
    width: 70%;
    height: 40%;
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.tarjeta:hover {

    box-shadow: 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(95%);



}



h3:hover {

letter-spacing: 5px;
color: blue;

}

